fastapi
uvicorn
pymongo
python-multipart
pydantic
pymupdf
# We use a smaller version of langchain to save time
langchain-core
langchain-community
langchain-huggingface
# Pre-built FAISS (No compilation)
faiss-cpu
sentence-transformers
# THE MAGIC LINE: This forces pip to download the pre-built wheel
